
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">pdxFLIT</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="https://twitter.com/pdxflit"><img src="../assets/twitter.png" alt="" id="twitter"></a></li>
        <li><a href=""><img src="../assets/slack.png" alt="" id="slack"></a></li>
      <li><a routerLink="projects">Projects</a></li>
      <li><a routerLink="new">New Project</a></li>
      <li *ngIf="isLoggedIn">
          <a>{{userName}}</a> <a (click)="logout()">Log out</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a (click)="login()">Log In</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
