<div class="jumbotron">
  <h1>{{project?.name}}</h1>
  <h3>{{project?.description}}</h3>
  <h3>{{project?.plans}}</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Project Leaders</h2>
    <h5 *ngFor="let starter of project?.starters">{{starter}}</h5>
    <h2>Donation Swag!</h2>
    <h5 *ngFor="let reward of project?.rewards">{{reward}}</h5>
    <div class="donate">
      <button type="button" name="button" class="btn btn-danger" (click)="clickDonate()">Donate</button>
      <button type="button" name="button" class="btn btn-info" (click)="updateVolunteers()">Volunteer</button>
    </div>
    <h2>Volunteers</h2>
    <h5>{{project?.volunteers}}</h5>
  </div>
  <div class="col-md-6">
    <h3>Goal Date:</h3>
    <h5>{{project?.date}}</h5>
    <h2>Goal:</h2>
    <h5>${{project?.goal}}</h5>
    <h3 *ngIf="project?.raised <= project?.goal">We have raised ${{project?.raised}} of our ${{project?.goal}} goal!</h3>
    <h3 *ngIf="project?.raised > project?.goal">We have met our goal of ${{project?.goal}} and have surpassed it by ${{project?.raised-project?.goal}}!</h3>
  </div>
  <button (click)="clickEdit()" class="btn btn-default">Edit</button>
  </div>
  <div class="row">
    <div *ngIf="editClicked">
      <app-project-edit [projectToEdit] = "project" [editClicked] = "editClicked" (closeForm)="closeForm($event)"></app-project-edit>
    </div>
  </div>
